@{
    ViewData["Title"] = "Acerca De";
}

<div class="About-me">
    <h1>¿Quien soy?</h1>
    <p>Soy un estudiante de ingenieria en sistemas que esta aprendiendo sobre el desarrollo de paginas web,
        en general esta pagina es un fruto de horas de estres y trabajo junto con el profesor, que ayudo en las dudas que tuve,
        claro que la mayoria de clases en las que habia que trabajar me las tuve que saltas para hacer otros trabajos.

        Quiza en algun momento considere dejarlo, pero despues de ver todo lo que soy capaz de conseguir con esfuerzo
        y trabajo duro, me doy cuenta de que podre llegar tan lejos como me lo proponga, asi tenga que luchar solo contra el
        "hello world".
    </p>
</div>
 
    
