@{
    ViewData["Title"] = "Home Page";
}

<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">

<section class="contenedor sobre nosotros"></section>
        <h2 class="titulo">Nuestro producto</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="~/img/foto3.png" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span> Los mejores productos</h3>
                <p>Buscas una pagina en la que esten los juegos mas recientes y a un buen precio?
                    Bueno, pues la has encontrado sin tener un mapa, MasterControl te ofrece precios inigualables 
                    en los que podras encontrar juegos en cualquier plataforma, si aun no estas convencido hechale un ojo a 
                    nuestro catalogo o contactanos para tener mayor informacion. 
                </p>
                <h3><span>2</span> Descuentos y masterCoins</h3>
                <p>En diferentes temporadas tendremos descuentos que te haran comprar mas de un juego, y no puedes
                    perderte nuestro sistema de MasterCoins con los que podras reclamar diferentes productos, 
                    desde figuras de tus personajes favoritos hasta juegos exclusivos, ¿A que esperas para unirte a nosotros?.
                </p>
            </div>
        </div>
        <section class="portafio">
            <div class="contenedor">
                <h2 class="titulo">Algunos de los mejores juegos</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="img/hollow.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/mando.png" alt="">
                            <p>dale play</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/dragon.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="~/img/mando.png" alt="">
                            <p>dale play</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/fifa.png" alt="">
                        <div class="hover-galeria">
                            <img src="img/mando.png" alt="">
                            <p>dale play</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/godofwar.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/mando.png" alt="">
                            <p>dale play</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/gta.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/mando.png" alt="">
                            <p>dale play</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/guerra.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/mando.png" alt="">
                            <p>dale play</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/infamous.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/mando.png" alt="">
                            <p>dale play</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/valhalla.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/mando.png" alt="">
                            <p>dale play</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor"> 
            <h2 class="titulo">Que dicen nuestros clientes</h2>
            <div class="cards">
                <div class="card">
                    <img src="img/chico.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Dylan Cruz</h4>
                        <p>"De las mejores paginas que hay, mi hermano y yo pasamos horas de diversion gracias a los precios"</p>
                    </div>
                </div>
                <div class="card">
                    <img src="img/chica.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Lucy Zapata</h4>
                        <p>"Tuve la fortuna de encontrar la pagina y ver su sistema de recompensas, es maravilloso"</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-service">
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="img/coin.png" alt="">
                        <h3>Master coins</h3>
                        <p>canjea figuras y juegos con las MasterCoins que obtendras al comprar productos.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="img/scroll.png" alt="">
                        <h3>Consolas</h3>
                        <p>Proximamente estaremos en disponibilidad de vender consolas y diferentes equipos con los que podras ampliar tu mundo gamer.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="img/paquete.png" alt="">
                        <h3>Envios</h3>
                        <p>Por ahora disponemos envios en Colombia y proximamente nos expandiremos por latinoamerica.</p>
                    </div>
                </div>
            </div>
        </section>